HELP.md
target/**
!.mvn/wrapper/maven-wrapper.jar
!../graph-api-tool/src/main/java
!**/src/test/**
.DS_Store
*.DS_Store
.java-version

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/