<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Microsoft Corporation. All rights reserved.
  ~ Licensed under the MIT license. See LICENSE file in the project root for full license information.
  -->

<configuration>

    <conversionRule conversionWord="ex"
                    converterClass="com.microsoft.graphdataconnect.skillsfinder.config.CompressedStackTraceConverter"/>

    <property name="LOGS" value="${JGRAPH_LOG_DIR:-logs}"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <if condition='isDefined("USE_MULTILINE_LOGS") &amp;&amp; property("USE_MULTILINE_LOGS").equals("true")'>
                <then>
                    <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %X{correlationId} %replace([user:%X{user}]){'\[user:]', ''} %-5level %logger{36} - %msg%n
                    </pattern>
                </then>
                <else>
                    <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %X{correlationId} %replace([user:%X{user}]){'\[user:]', ''} %-5level %logger{36} - %msg %ex %n
                    </pattern>
                </else>
            </if>
        </encoder>
    </appender>


    <!--    Un-comment the FILE RollingFileAppender only if storing the logs is necessary-->
    <!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <file>${LOGS}/jgraph-gdc.log</file>-->
    <!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
    <!--            <Pattern>%d{yyyy-MM-dd HH:mm:ss SSS} [%t] %-5level %logger{36} %msg\n</Pattern>-->
    <!--        </encoder>-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            <fileNamePattern>${LOGS}/archived/jgraph-gdc-%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
    <!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
    <!--                <maxFileSize>20MB</maxFileSize>-->
    <!--            </timeBasedFileNamingAndTriggeringPolicy>-->
    <!--            <cleanHistoryOnStart>true</cleanHistoryOnStart>-->
    <!--            &lt;!&ndash; keep maximum 500 MB of logs within 7 days &ndash;&gt;-->
    <!--            <maxHistory>7</maxHistory>-->
    <!--            <totalSizeCap>500MB</totalSizeCap>-->
    <!--        </rollingPolicy>-->
    <!--    </appender>-->

    <logger name="org.springframework.security" level="INFO"/>

    <!-- LOG everything at INFO level -->
    <root level="${JGRAPH_LOG_LEVEL:-info}">
        <!--        <appender-ref ref="FILE" />-->
        <appender-ref ref="Console"/>
    </root>

    <logger name="com.microsoft.graphdataconnect" level="${JGRAPH_LOG_LEVEL:-info}" additivity="false">
        <!--        <appender-ref ref="FILE" />-->
        <appender-ref ref="Console"/>
    </logger>

    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
        <level value="${JGRAPH_LOG_LEVEL:-debug}"/>
    </logger>

</configuration>
