@* Copyright (c) Microsoft Corporation. All rights reserved. *@
@* Licensed under the MIT license. *@

@{
    ViewBag.Title = "Index";
}

<h2>Email Metrics</h2>

    This application will look at the email data for emails extracted to the Azure Blob Storage account and display the total number of recipients from each sender.

@using (Html.BeginForm("ShowMetrics", "EmailMetrics", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <button type="submit">View email metrics</button>
    </div>

    <div>
        <em>Please be patient as this can take a few moments to calculate depending on the size of the exported data...</em>
    </div>
}
