{
  lastUpdatedAfter: $startTime,
  lastUpdatedBefore: $endTime,
  filters: [
    {
      operand: PipelineName,
      operator: In,
      values: [
        $pipelineName
      ]
    }
  ],
  orderBy: [
        {
            order: DESC,
            orderBy: RunStart
        }
    ]

}
